.complain {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 2vh;
  right: 0;
  width: 40vw;
  min-height: 96vh;
  padding-top: 20px;
  transition: all .5s linear;
  z-index: 5;
  box-shadow: 0px 0px 16px 5px rgba(34, 60, 80, 0.25);
}
@media screen and (max-width: 1024px) {
  .complain {
    width: 460px;
  }
}
@media screen and (max-width: 480px) {
  .complain {
    width: 96vw;
  }
}

.complain.complain__close {
  transform: translateX(140%);
}

.complain__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 30px;
}

.complain__menu {
  box-sizing: border-box;
  font-size: 25px;
  line-height: 1.4;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 480px) {
  .complain__menu {
    font-size: 17px;

  }
}

.complain__menu-item {
  box-sizing: border-box;
  padding: 0 15% 0;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024) {
  .complain__menu-item {
    padding: 0 3% 0;
  }
}

.complain__link {
  text-decoration: none;
  color: #000;
}

.complain__image {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-100px);
}