.places {
  padding-top: 15px;
  width: 100%;
}

.place {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-template-areas:
    "place-image place-text";
}

.place:nth-of-type(2) {
  grid-template-areas:
    "place-text place-image";
}

@media screen and (max-width: 800px) {

  .place,
  .place:nth-of-type(2) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place-image"
      "place-text";
  }
}


.place__image {
  width: 100%;
  height: 41vw;
  -o-object-fit: cover;
  object-fit: cover;
  grid-area: place-image;
}

@media screen and (max-width: 800px) {
  .place__image {
    height: 100vw;
  }
}

.place__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: place-text;
  padding: 5vw;
}

@media screen and (max-width: 1050px) {
  .place__text {
    padding: 3vw 3vw 5vw;
  }
}

.place__title {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

@media screen and (max-width: 1050px) {
  .place__title {
    font-size: 30px;
    margin-bottom: 4vw;
  }
}

.place__paragraph {
  max-width: 440px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
}

@media screen and (max-width: 1050px) {
  .place__paragraph {
    font-size: 13px;
  }
}

.place__paragraph-text {
  margin: 0 0 2vw;
}

.place__paragraph-text:last-of-type {
  margin: 0;
}