.quotes {
  width: 90%;
  margin: 0 auto;
  padding: 11vw 0 10vw;
}

@media screen and (max-width: 800px) {
  .quotes {
    padding: 40px 0 20px;
  }
}

.quotes__title {
  max-width: 430px;
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 10vw;
}

@media screen and (max-width: 480px) {
  .quotes__title {
    font-size: 26px;
    margin-bottom: 40px;
  }
}

.quotes-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5vw;
}

@media screen and (max-width: 800px) {
  .quotes-block {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 20px;
  }
}

.quote {
  margin: 0;
}

.quote__autor {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  margin: 0 0 33px;
}

@media screen and (max-width: 800px) {
  .quote__autor {
    margin-bottom: 12px;
  }
}

.quote__text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 1px;
}

@media screen and (max-width: 480px) {
  .quote__text {
    font-size: 12px;
  }
}