*{ outline: 1px solid red}
.wrapper {
  font-family: 'Inter';
  font-style: normal;
  margin: 0;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 1920px;
  /* Свойство overflow: hidden; написано для всплывающего окна.  
  Если мешает проверять адаптивность - заккоментить.
  Вместе с ним, необходимо закоментить блок complain в header*/
  overflow-x: hidden;
}

.wrapper_link-opacity {
  opacity: 1;
  transition: all .1s linear;
}

.wrapper_link-opacity:hover {
  color: #fecca7;
  opacity: .6;
}

.text-tip {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fecca7;
  margin: 0 0 40px;
}

@media screen and (max-width: 800px) {
  .text-tip {
    font-size: 25px;
    color: #ffdcc2;
  }
}

@media screen and (max-width: 480px) {
  .intro__text-header {
    font-size: 19px;
  }
}