.hidden {
  /* Обертка .hidden; написана для всплывающего окна.  
  Если мешает проверять адаптивность - закоментить.
  Вместе с ним, необходимо закоментить блок complain в header*/
  width: 100%;
  overflow-x: hidden;
  position: relative;
}