.text-tip {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fecca7;
  margin: 0 0 40px;
}

@media screen and (max-width: 800px) {
  .text-tip {
    font-size: 25px;
    color: #ffdcc2;
  }
}