.place {
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-template-areas:
    "place-image place-text";
}

.place:nth-of-type(2) {
  grid-template-areas:
    "place-text place-image";
}

@media screen and (max-width: 800px) {
  .place,
  .place:nth-of-type(2) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "place-image"
      "place-text";
  }
}